[Unit]
Description=Minecraft Fabric Server
After=network.target

[Service]
Type=forking
User=admin
WorkingDirectory=/home/admin/AWSMC

# We run the server inside a tmux session named "mc" so you can attach to it later
ExecStart=/usr/bin/tmux new-session -d -s mc '/home/admin/AWSMC/start.sh'

# To stop the server gracefully, we send the "stop" command to the tmux session
ExecStop=/usr/bin/tmux send-keys -t mc "stop" ENTER
ExecStop=/bin/sleep 15

Restart=always

[Install]
WantedBy=multi-user.target
